* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.taust {
    box-sizing: border-box;
    background-color:#269;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.wrapper_header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header {
    position: absolute;
    top: 20px;
    box-sizing: border-box;
    padding: 1px 0;
    width: 95%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border-radius: 25px; 
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

nav {
    display: block;
    text-align: center;
}

h1 {    
    color: #ffffff;;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
} 

.riber {
    background-color: purple; 
    color:white;
    text-align: center;
}

.ramses {
    transition-duration: 0.4s;
    position: 220px;
}

.pepsi {
    width: 300px ; 
    height: 300px; 
    border-radius: 25px; 
    border: 2px solid black;
}

.soundcloud {
    display: inline-block;
    text-align: center;
    margin: 40px;   
}

.nupud {
    font-family: Lato;
    font-size: 30px;
}

.tate {
    display: inline-block;
    text-align: center;
    margin: 40px;
   
}

.tate1 {
    width: 300px ; 
    height: 300px; 
    border-radius: 25px; 
    border: 2px solid black;
}

.f1 {
    display: inline-block;
    text-align: center;
    margin: 40px;
    
}

.ferrari {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 25px; 
    border: 2px solid black;
}

.ul-sitenav{
    margin:0;
    padding:0;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .ul-sitenav li{
    list-style:none;
    margin:0 20px;
  }
  
  .ul-sitenav li a{
    display: block;
    position:relative;
    text-decoration:none;
    padding:5px;
    font-size:18px;
    font-family: sans-serif;
    color:#fff;
    text-transform:uppercase;
    transition:0.5s;
  }
  
  .ul-sitenav:hover li a{
    transform:scale(1.2);
    opacity:0.2;
    filter:blur(5px);
  }
  
  .ul-sitenav li a:hover{
    transform:scale(1.2);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
  }
  
  .ul-sitenav li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:transparent;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
  }
  
  .ul-sitenav li a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
  }

footer {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: "Lucida Console", monospace;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: black;
}

.footer-socials {
    display: flex;
}

.footer-socials a {
    width: 50px ; 
    height: 50px; 
    display: inline-block;
    text-align: center;
    margin: 10px;
    display: block;
}

.insta_svg,
.github_svg {
    width: 100%;
}

.test_taust {
    background-color: #23a6d5;
}

.playground {
    text-align: center;
}

.popup {
    width:160px;
    height:80px;
    padding:20px;
    background-color:gray;    
    position:absolute;
    top:100px;
    left:100px;
    display:none;
}

.site-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/minion.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;

} 

.site-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.div-back-button {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.div-back-button a {
    width: 40px;
    height: 40px;
    margin: 10px;
    text-align: center;
}

.back-button-png {
    width: 100%;
}

.site-title {
    color: #abb003;
    text-align: center;
    height: 450px;
    font-family: "Noto Sans Mono";
    font-size: 55px;
}

.content {
    margin: 0;
    padding: 20px;
    background-color: #133337;
    height: 100%;
}

.content-desc,
.education-title
.fav-games-title {
    color: #ffe4e1;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-family: "Noto Sans Mono";
}

.content-text {
    color: #ffe4e1;
    text-align: center;
    font-family: "Noto Sans Mono";
    font-size: 15px;
    padding: 0 150px;
}

.ul-education {
    margin:0;
    padding:0;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.ul-education,
.ul-games li {
    list-style:none;
    margin:0 20px;
}

.ul-games {
    margin:0;
    padding:0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.open-button {
    color: black;
    border: none;
    cursor: pointer;
    
  }
  
.form-popup {
  display: none;
  position: sticky;
  top: 100vh;
  text-align: center;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
  border-radius: 25px;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.site-container-projects {
  width: 100%;    
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  background-color: #f3ca20;
  opacity: 0.8;
  background: radial-gradient(circle, transparent 20%, #f3ca20 20%, #f3ca20 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #f3ca20 20%, #f3ca20 80%, transparent 80%, transparent) 52.5px 52.5px, linear-gradient(#000000 4.2px, transparent 4.2px) 0 -2.1px, linear-gradient(90deg, #000000 4.2px, #f3ca20 4.2px) -2.1px 0;
  background-size: 105px 105px, 105px 105px, 52.5px 52.5px, 52.5px 52.5px;
}
.site-title-projects {
  font-family: "Silkscreen";
  font-size: 60px;
  color: #de5499; 
}

.content-projects {
    display: flex;
    flex-direction: row;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.smoking-calculator {
    padding: 5px;
    background-color: #000000;
    color: white;
    border-radius: 25px;
    box-shadow: 7px 10px 10px rgb(46, 43, 43);
}

.div-smoking-button {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.text-smoking {
    font-family: "Staatliches";
    font-size: 20px;
    padding: 0 5px;
    margin: 10px;
}

.smoking-button {
    background-color: red;
    font-family: "Staatliches";
    border-radius: 15px;
    height: 40px;
    width: 110px;
    margin-bottom: 3px;
    border: red;
    border-color: red;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.smoking-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .smoking-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .smoking-button:hover span {
    padding-right: 25px;
  }
  
  .smoking-button:hover span:after {
    opacity: 1;
    right: 0;
  }